{% extends "base.html" %}
{% load static %}

{% block extracss %}
{{ block.super }}
<style>
       .hover-image {
        transition: all 0.3s ease-in-out;
    }
    
    .hover-image:hover {
        filter: brightness(1.15); 
        transform: scale(1.02); 
    }

    .hover-link {
        text-decoration: none !important;
    }
    
    .hover-link h2 {
        transition: all 0.2s ease-in-out;
    }

    .hover-link:hover h2 {
        text-decoration: underline; 
        color: #000 !important; 
    }
</style>
{% endblock %}

{% block content %}
    <div class="container-fluid p-0">
        <div class="hero-image-container" style="background-image: url('{% static 'images/hero.jpg' %}')">
            <div class="row h-100 m-0 align-items-center justify-content-center text-center">
                <div class="col-10 col-md-8 reveal">
                    <h1 class="display-3 text-white logo-font font-weight-bold">The path to recovery starts here.</h1>
                    <p class="lead text-white mb-5 text-uppercase letter-spacing-2">Vitaliy Body Therapy • Expert Wellness in Tralee</p>
                    <a href="#services" class="shop-now-button btn btn-lg rounded-0 py-3 px-5">Book a Session</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container my-5 py-5" id="services">

        {% for service in services %}
        <div class="row align-items-center mb-5 pb-5 reveal">
            <div class="col-md-6">
                <a href="{% url 'service_detail' service.id %}">
                    {% if service.image %}
                        <img src="{{ service.image.url }}" alt="{{ service.name }}" class="img-fluid shadow-sm hover-image">
                        {% endif %}
                </a>
            </div>
            <div class="col-md-6 px-lg-5">
                <a href="{% url 'service_detail' service.id %}" class="hover-link">
                    <h2 class="logo-font mt-3 text-navy">{{ service.name }}</h2>
                </a>
                <p class="text-muted lead">{{ service.description|truncatewords:30 }}</p>
            </div>
        </div>
        {% endfor %}

    </div>
{% endblock %}