html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0 
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.shop-now-button {
    background: #222;
    color: white;
    min-width: 260px;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus {
    background: #000;
    color: white;
}

.header-container {
   
}

.fixed-top {
    position: fixed !important; 
    background: linear-gradient(to bottom, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 100%) !important; }

#topnav {
    background: transparent !important; 
}

.nav-link, .text-black {
    color: white !important; 
}

.hero-image-container {
    height: 100vh; 
    background-size: cover;
    background-position: center;
    margin-top: 0; 
    padding-top: 0;
}
.fixed-top {
    background: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%) !important;
}