<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav mx-auto text-uppercase">
        
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="all-services-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Services & Pricing
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-services-link">
                <a href="#" class="dropdown-item">Sort by Price</a>
                <a href="#" class="dropdown-item">Sort by Rating</a>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item">View All Services</a>
            </div>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-white" href="#">
                Categories
            </a>
        </li>

    </ul>
</div>